$color-brand: #9500fe;
$color-lisbon: #ffffff;
$color-prague: #fcfcfc;
$color-oslo: #202329;
$color-london: #282c34;
$color-rome: #6d6d6d;
$color-riga: #e4e4e4;
$color-madrid: #373940;

$media-xs: 576px;
$media-sm: 768px;
$media-lg: 1200px;
